body {
    margin-left: 5%;
    margin-right: 5%;
    /* font family for google font */
    font-family: 'Crete Round', serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* banner part start */

.banner {
    background-color: darkslategrey;
    border-radius: 25px;
    display: flex;
}

.banner-image {
    margin: auto;
}

.banner-text {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 5%;
}

#heading {
    color: aliceblue;
    margin: 5%;
    font-size: 50px;
}

button {
    border: none;
}

#banner-text {
    color: aliceblue;
    font-size: 15px;
    margin: 5%;
    text-align: justify;
}

img {
    justify-content: center;
    align-items: center;
}

.live-button {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    padding-top: auto;
    margin: auto;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#red-button {
    background-color: rgb(198, 0, 0);
    color: aliceblue;
    border-radius: 5px;
    margin: auto;
    font-weight: 600;
    background-image: linear-gradient(red, rgb(148, 0, 0));
    padding-top: 6px;

}

#view-all {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 150px;
    height: 30px;
    margin: auto;
    background-color: rgb(198, 0, 0);
    color: aliceblue;
    font-weight: 600;
    background-image: linear-gradient(red, rgb(148, 0, 0));
}

a {
    text-decoration: none;
    color: aliceblue;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;

}

.upcoming-group {
    background-color: darkslategrey;
    border-radius: 10px;
    width: 11em;
    height: 9em;
}

.buttons {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 7px;

}

.body-button {

    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 150px;
    height: 30px;
    padding-top: auto;
    margin: auto;
}

main button {
    border: 1.5px solid dimgray;
    border-radius: 5px;
    margin-left: 10%;
    font-weight: 520;
}

.time-chat-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: none;

}

.transfer-live {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}

h5 {
    text-align: center;
}

.match-fight {
    border: 1.2px solid dimgray;
    border-radius: 15px;
    width: 17em;
}

#match-photo {
    width: 100%;
}

.time-chat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer {
    background-color: darkslategrey;
    color: aliceblue;
    border-radius: 25px;
}

.footer h1 {
    font-size: 40px;
    padding: 3%;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    padding: 2%;
}

li {
    margin: auto;
    color: aliceblue;
}

@media screen and (max-width: 576px) {
    .banner {
        background-color: darkslategrey;
        border-radius: 25px;
        display: block;
    }

    .banner-text {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 5%;
    }

    #heading {
        color: aliceblue;
        margin: auto;
        margin-top: 20px;
        font-size: 50px;
        text-align: center;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: auto;
        grid-row-gap: 10px;
        margin: auto;
    }

    .match-fight {
        border: 1px solid dimgray;
        border-radius: 10px;
        width: 350px;
        height: 340px;
    }

    #match-photo {
        width: 350px;
        height: 180px;
    }

    .buttons {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 7px;
    }

    .upcoming-group {
        background-color: darkslategrey;
        border-radius: 10px;
        width: 11em;
        height: 9em;
        margin: auto;
    }

    ul {
        display: inline;
        padding: 2%;
        margin: auto;
        text-align: center;
    }

    li {
        margin: auto;
        color: aliceblue;
        padding: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .banner {
        background-color: darkslategrey;
        border-radius: 25px;
        display: flex;
    }

    .banner-text {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        margin-left: 5%;
    }



    #heading {
        color: aliceblue;
        margin: 5%;
        font-size: 50px;
    }


    .main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .transfer-live {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: auto;
        grid-row-gap: 10px;
        margin: auto;
    }

    .match-fight {
        border: 1px solid dimgray;
        border-radius: 10px;
        width: 350px;
        height: 340px;
    }

    #match-photo {
        width: 350px;
        height: 180px;
    }

    .buttons {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 7px;
        grid-column-gap: 7px;
        justify-content: center;
    }

    .upcoming-group {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 11em;
        height: 9em;
        margin: auto;
    }
}